---
layout: default
title: Notes
---
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/assets/css/style.css">
  <title>notes</title>
</head>
<body>

  {% include header.html %}

  <div class="top-right-links">
    <a href="/index.html">Home</a>
    <a href="/about.html">About</a>
    <a href="/notes.html">Notes</a>
    <a href="/read.html">Read</a>
    <a href="/photos.html">Photos</a>
  </div>
  


  <h>notes</h>
  <div class="posts">
    {% for post in site.posts %}
      <div class="post">
        <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
        
        <!-- Display the excerpt of the post -->
        <p>{{ post.excerpt | strip_html }}</p>

        <a href="{{ post.url | relative_url }}">Read more...</a>
      </div>
    {% endfor %}
  </div>
  {% include footer.html %}
</body>
</html>

