---
layout: default
title: Photos
---
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/assets/css/style.css">
    <title>photos</title>
</head>
<body>
    {% include header.html %}
    </br>
    <h>photos</h>
    </br>
    <div class="top-right-links">
        <a href="/index.html">Home</a>
        <a href="/about.html">About</a>
        <a href="/notes.html">Notes</a>
        <a href="/read.html">Read</a>
        <a href="/photos.html">Photos</a>
      </div>
      
    </br>

    <p>This is the photos section for the website.</p>

    {% include footer.html %}
</body>
</html>

