body {
    background-color: rgb(244, 234, 219);
  }
  
  h1 {
      color: rgb(76, 51, 31);
      text-align: left;
      font-size: 30px; 
      font-weight: normal;
      font-family:'SuperBrave';
  }
  
  p {
    font-size: 13px;
    text-align: left;
    color: rgb(76, 51, 31);
    font-family: sans-serif; 
  }
  img {
    float: left;
    padding: 15px;
  }
  /* Position the container in the top right corner */
  .top-right-links {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Style for individual links */
.top-right-links a {
    text-decoration: none;
    color: rgb(76, 51, 31);
    text-align: center;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-family: sans-serif; 
}
.top-right-links a:hover {
    background-color: rgb(249, 239, 230);
}
.about-container {
  display: flex; /* Use Flexbox for layout */
  gap: 20px; /* Adds some space between the photo and text */
  flex-wrap: wrap; /* Ensures responsiveness if the screen is too small */
}

.photo-container {
  flex: 0 0 400px; /* Fix the width of the photo container */
}

.text-container {
  flex: 1; /* Let the text take up the remaining space */
}

.list-container {
  padding: 0; /* Space inside the box */
  margin-top: 0; /* Adds space above the list box */
  background-color: rgb(244, 234, 219); /* Background color for the box */
  max-width: 370px;

}

.small-list {
  font-size: 13px;
  line-height:1.0;
  list-style-position: outside;
  color: rgb(76, 51, 31);
  font-family: sans-serif;
  padding-left: 20px;
}

.small-list li {
  margin-bottom: 5px; /* Adds space between list items */
}
