<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title | escape }}</title>
  
  <!-- Link to Global CSS (applies to all pages) -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

  <!-- Optionally add page-specific CSS -->
  {% if page.title == "Home" %}
  <link rel="stylesheet" href="{{ '/assets/css/home.css' | relative_url }}">
  {% endif %}
  
</head>
<body>
  <header>
  <p>header</p>
  </header>

  <main>
    {{ content }}  <!-- This will render the content of the page (from index.md) -->
  </main>

  <footer>
    <p>&copy; 2025 whitneynciole</p>
  </footer>
</body>
</html>
