<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title | escape }}</title>
  
  <!-- Link to Global CSS (applies to all pages) -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">

  <!-- Optionally add page-specific CSS for specific pages like the Home page -->
  {% if page.title == "read" %}
    <link rel="stylesheet" href="{{ '/assets/css/read.css' | relative_url }}">
  {% endif %}
  
  <!-- Link to the posts.css if the layout is "post" (for blog posts) -->
  {% if page.layout == "post" %}
    <link rel="stylesheet" href="{{ '/assets/css/posts.css' | relative_url }}">
  {% endif %}
  
  <!-- Apply index.css when the page title is "home" -->
  {% if page.title == "home" %}
    <link rel="stylesheet" href="{{ '/assets/css/index.css' | relative_url }}">
  {% endif %}

  {% if page.title == "Photos" %}
  <link rel="stylesheet" href="{{ '/assets/css/photos.css' | relative_url }}">
{% endif %}


</head>
<body>
  <!-- Include the header from the _includes folder -->
  {% include header.html %}
  
  <div class="content">
    <main>
      {{ content }}  <!-- This will render the content of the page (from index.md, about.html, etc.) -->
    </main>
  </div>

  <!-- Include the footer from the _includes folder -->
  {% include footer.html %}
</body>
</html>
